@charset "UTF-8";

/* body共通 */
body{
	width: auto;
	height: auto;
	margin: 0px;
	background:#FFF ;
	font-family: "メイリオ", "ＭＳＰゴシック", sans-serif;
}
/* >>>>>>>>> header >>>>>>>>> */
header{
	margin: 0px;
	height: 80px;
	background-color: rgb(152, 167, 247);
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-left{
	width: 25%;
}
.header-center{
	width: 50%;
}
h1{
	text-align: center;
}
.header-right{
	width: 25%;
	text-align: right;
}
.task-entry-btn{
	display: inline;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	position: relative; /*タスク登録ボタンの位置微調整*/
	right: 20%; /*タスク登録ボタンの位置微調整*/
}
/* <<<<<<<<< header <<<<<<<<< */

/* >>>>>>>>> wrapper >>>>>>>>> */
.main-wrapper{
	margin: 15px 10%;
	width: auto;
	height: auto;
}
table{
	border-collapse:collapse;/* ボーダーの表示形式 */
	table-layout: fixed;
	width: 100%;
}

/* テーブルセルの間隔調整 */
td{
	padding: 10px 0px;
}
.table-heading{
	width: auto;
	border-bottom: 1px solid gray;
	height: 45px;
	padding: 0 0 50px 0;
}
.done-btn-heading{
	width: 3%;
}
.tsk-name-heading{
	width: 60%;
}
.completion-date-heading{
	width: 22%;
}
.priority-heading{
	width: 15%;
	text-align: center;
}
.th-ali-left{
	text-align: left;
}
.td-ali-center{
	text-align: center;
}
td{
	cursor: pointer;
}
/* <<<<<<<<< wrapper <<<<<<<<< */




/* <<<<<<<<< input-modal、edit-modal共通 <<<<<<<<< */
/*必須*/
.essential{
	background-color: red;
	color: white;
	border-radius: 5px;
	text-align: center;
}

/*タスク名*/
.task-name-entry{
	margin-left: 30px;
}

.task-name{
	display: flex;
}

.task-name p{
	width: 80px;
}
.task-name-box{
	height: 30px;
	width: 100%;
	font-size: 20px;
    border-radius: 5px;
}

/*完了日*/
.completion-date{
	margin-left: 30px;
    margin-top: 20px;
}
.completion-date-inline{
	display: flex;
}
.completion-date-inline p{
	width: 80px;
}
.task-completion-date-box{
	height: 70px;
	width: 75%;
	font-size: 30px;
    color: rgb(214, 214, 214);
    border: 2px solid rgb(214, 214, 214);
    border-radius: 10px;
}
/*優先度*/
.priority{
	margin-left: 30px;
    margin-top: 20px;
}
.priority-inline{
	display: flex;
}
.priority-inline p{
	width: 80px;
}
.priority-high span{
    color: red;
}
/*タスクメモ*/
.task-memo{
	margin-left: 30px;
    margin-top: 20px;
}
.task-memo p{
    margin-bottom: 0px;
}
.task-memo-box{
	border-radius: 10px;
	vertical-align: top;
	font-size: 15px;
	width: 65%;
}
/* テキストエリアの文字色変更 */
::-webkit-input-placeholder {
    color:    rgb(207, 204, 204);
}
:-moz-placeholder {
    color:    rgb(207, 204, 204);
}
/*タスク追加ボタン*/
.task-add{
	margin-left: 30px;
	margin-top: 20px;
	background-color: rgba(157, 191, 243, 0.747);
	border-radius: 5px;
    width: 140px;
    letter-spacing:2px;
}
/* タスク追加と編集ボタンを左寄せ */
.modal-footer{
	justify-content : left;
	margin-left: 30px;
}

/* <<<<<<<<< input-modal、edit-modal共通 <<<<<<<<< */



/* <<<<<<<<< select要素内に画像を挿入する<<<<<<<<< */

/* table SELECTモドキ */
table.imitationSelect, table.imitationPulldown {
	table-layout: fixed;
	border: 1px solid black;
	border-collapse: separate;
	border-spacing: 0;
	border-radius: 3px;
	overflow: hidden;
	background: #e8e8e8;
	color: black;
	line-height: 0px; /* これを入れないと、下に隙間が出来る場合がある */
	cursor: pointer;
}
/* table (1行表示用) */
table.imitationSelect {
	position: relative;
	overflow: visible;    /* プルダウンをハミ出させる(tableの規定値は hidden なので) */
	z-index: 10;
}
/* table (プルダウン用) */
table.imitationPulldown {
	position: absolute;
	z-index: 12;
	left: -1px; top: -1px;  /* border サイズ分を引く */
}

/* tr (1行表示用) */
table.imitationSelect tr {
	height: 16px;   /* 画像.height + 2 (borderの分を足す) */
	font-size: 11px;  /* 画像.height - 3 */
}
/* tr (プルダウン用) */
table.imitationPulldown tr {
	height: 30px; /* タップしやすいように広げる */
	font-size: 13px;  /* 文字も大きく */
}
table.imitationPulldown tr:nth-child(2n) {
	background: #d8d8d8;  /* 偶数行の背景色 */
}
table.imitationPulldown tr:hover {
	background: #808080;  /* hover時 */
	color: white;
}

/* td (共通) */
table.imitationSelect td, table.imitationPulldown td {
	vertical-align: middle; /* 縦方向 中央寄せ */
}
td.imitationImage {
	width: 32px;      /* 使われる複数 image の中の最大幅 +α */
	text-align: center; /* 画像は中央 */
}
td.imitationText {
	text-align: left;   /* 文字は左寄せ */
}

