@charset "UTF-8";

/*共通*/
/*必須*/
.essential{
	background-color: red;
	color: white;
	border-radius: 5px;
	width: 30px;
	text-align: center;
}

/*タスク名*/
.task-name-entry{
	margin-left: 30px;
}

#task-name{
	display: flex;
}
#task-name p{
	width: 80px;
}


#task-name-box{
	height: 30px;
	width: 75%;
	font-size: 20px;
    border-radius: 5px;
}


/*完了日*/
.completion-date{
	margin-left: 30px;
    margin-top: 20px;
}

#completion-date-inline{
	display: flex;
}

#completion-date-inline p{
	width: 80px;
}
#task-completion-date-box{
	height: 70px;
	width: 35%;
	font-size: 30px;
    color: rgb(214, 214, 214);
    border: 2px solid rgb(214, 214, 214);
    border-radius: 10px;
}

/* .completion-date input[type=text]{
	font-family: FontAwesome
} */
/* input#task-completion-date-box{
	font-family: FontAwesome 5 Free;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	content: f073;
} */


/*優先度*/
.priority{
	margin-left: 30px;
    margin-top: 20px;
}
#priority-inline{
	display: flex;
}

#priority-inline p{
	width: 80px;
}


#priority-high span{
    color: red;
}




/*タスクメモ*/
.task-memo{
	margin-left: 30px;
    margin-top: 20px;
}
.task-memo p{
    margin-bottom: 0px;
}
#task-memo-box{
	border-radius: 10px;
	vertical-align: top;
	font-size: 15px;
	width: 65%;
}


/* テキストエリアの文字色変更 */
::-webkit-input-placeholder {
    color:    rgb(207, 204, 204);
}
:-moz-placeholder {
    color:    rgb(207, 204, 204);
}


/*タスク追加ボタン*/
#task-add{
	margin-left: 30px;
	margin-top: 20px;
	background-color: rgba(157, 191, 243, 0.747);
	border-radius: 5px;
    width: 140px;
    letter-spacing:2px;
}