<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link th:href="@{/css/input.css}" rel="stylesheet" type="text/css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<title>input</title>
</head>
<body>
    <div class="modal-main">
        <h1>新規登録</h1>


        <!-- タスク名 -->
        <div class="task-name-entry">
            <div id="task-name">
                <p>タスク名</p>
                <p class="essential">必須</p>
            </div>
            <input type="text" id="task-name-box" placeholder="例) 英語学習">

        </div>

        <!-- 完了日 -->
        <div class="completion-date">
            <div id="completion-date-inline">
                <p>完了日</p>
                <p class="essential">必須</p>
            </div>

            <input type="date"  value="2018-01-11" id="task-completion-date-box">

        </div>




        <!-- 優先度 -->
        <div class="priority">
            <div id="priority-inline">
                <p>優先度</p>
                <p class="essential">必須</p>
            </div>

            <div id="task-priority-box">
                <select name="priority">
                    <option value="high" id="priority-high"><span>★</span>：高</option>
                    <option value="medium" id="priority-medium"><span>★</span>：中</option>
                    <option value="low" id="priority-low"><span>★</span>：低</option>
                    <option value="undecided" id="priority-undecided">☆：未定</option>
                </select>
            </div>
        </div>







        <!-- タスクメモ -->
        <div class="task-memo">
            <p>タスクメモ</p>
            <textarea name="" id="task-memo-box" cols="100" rows="6" placeholder="例) 英単語を10個覚える"></textarea>
            <!-- <input type="text" id="task-memo-box" placeholder="例) 英単語を10個覚える"> -->
        </div>
        <button id="task-add">タスクを追加</button>
    </div>






    <!-- <input type="text" id="datepicker"> -->

    <script type="text/javascript" th:src="@{/js/input.js}"></script>
</body>
</html>